@charset "UTF-8";

/* ----------------------------------------------------------
  Cover
---------------------------------------------------------- */

.page-cover {
    & {
        z-index: 999;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background-color: #fff;
        transition: opacity 0.3s ease;
    }

    body:not([data-loading="loading"]) & {
        opacity: 0;
        pointer-events: none;
    }
}
